.c-alert{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  z-index: 10000;
  &__feedback{
    padding: 12px;
    border-radius: 4px;
    text-align: center;
  }
  &__success{
    border: 1px solid green;
      color: green;
      font-weight: bold
  }
}