.c-alert{
  &__feedback{
    margin: auto;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
  }
  &__success{
    border: 1px solid green;
      color: green;
      font-weight: bold
  }
}