.c-alert {
    width: 100%;
    z-index: 10000;
    position: absolute;
    &__feedback {
        padding: $space_m;
        border-radius: 4px;
        text-align: center;
    }
    &__success {
        border: 1px solid $green;
        color: $green;
        font-weight: bold;
    }
}
