.c-btn-flat-border {
    display: inline-block;
    padding: $space_s $space_l;
    text-decoration: none;
    color: $blue;
    border: solid 2px $blue;
    border-radius: 3px;
    transition: 0.4s;
    margin: $space_l;
    font-size: $font-size_l;
    &:hover {
        background: $blue;
        color: $white;
    }
}

.c-btn__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space_s $space_l;
    text-decoration: none;
    color: $white;
    background: $red;
    border: solid 2px $red;
    border-radius: 3px;
    font-size: $font-size_default;
    width: 100%;
    height: 48px;
    margin-bottom: $space_xxl;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    &--twitter {
        background: $blue;
        border: solid 2px $blue;
    }
    &--sold {
        background: $black;
        border: solid 2px $black;
        cursor: not-allowed;
    }
    @include mq() {
        opacity: 1;
    }
    &:hover {
        opacity: 1;
    }
}

.c-btn__link {
    display: flex;
    justify-content: space-between;
}
