
.card{
  background: #f6f5f4;
  width: 30%;
  padding: 24px 32px;
  margin-bottom: 50px;
  @include mq(){
    width: 100%;
  }
}
.card-header{
  font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}