
.c-card{
  background: $gray;
  width: 30%;
  padding: $space_xl $space_xxl;
  margin-bottom: $space_3l;
  @include mq(){
    width: 100%;
  }
  &__header{
   font-size: $font-size_xl;
     margin-bottom: $space_xxl;
     text-align: center;
 }
}