
.c-detail{
  &__title{
    padding: 5px;
    border: 2px solid #fff;
    background: #f6f5f4;
    text-align: center;
}
&__text{
  padding: 5px;
    border: 1px solid #fff;
    height: 50px;
    text-align: center;
}
}