.c-detail {
    &__title {
        padding: $space_s;
        border: 2px solid $white;
        background: $gray;
        text-align: center;
    }
    &__text {
        padding: $space_s;
        border: 1px solid $white;
        min-height: 50px;
        text-align: center;
    }
}
