.c-form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: $space_3l;
    &__group {
        margin: $space_xxl;
        &--control {
            border: none;
            height: 48px;
            width: 100%;
            padding: $space_m;
            font-size: $font-size_default;
            margin: $space_s 0px;
            box-sizing: border-box;
            background: $white;
        }
        &--textarea {
            margin: $space_s 0px;
            border: none;
            width: 100%;
            padding: $space_l;
            font-size: $font-size_default;
            box-sizing: border-box;
        }
        &--img {
            width: 100%;
        }
        &--photofilelabel {
            color: $white;
            background-color: $blue;
            padding: $space_m;
            border: double 4px $white;
            text-align: center;
            width: 100%;
            display: block;
            box-sizing: border-box;
            cursor: pointer;
        }
        &--check {
            background-color: initial;
            cursor: default;
            appearance: checkbox;
            box-sizing: border-box;
            margin: 3px 3px 3px 4px;
            padding: initial;
            border: initial;
        }
        &--photofile {
            display: none;
        }
    }
    &__error {
        &--background {
            background: $red;
            opacity: 0.7;
        }
        &--text {
            color: $red;
        }
    }
}
