.p-top {
    &__title {
        font-size: $font-size_xl;
        padding: $space_s;
        text-decoration: none;
    }
    &__sentence {
        text-align: center;
        height: 100px;
        padding: $space_xl;
        background: $gray;
    }

    &__main {
        margin: auto;
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding: $space_xl;
        @include mq() {
            flex-direction: column;
        }
    }

    &__container {
        width: 50%;
        height: 150px;
        @include mq() {
            width: 100%;
        }
        &__right {
            border-right: $gray solid 2px;
            @include mq() {
                border-right: none;
                border-bottom: $gray solid 2px;
                margin-bottom: $space_l;
            }
        }
        &__title {
            min-height: 60px;
            font-size: $font-size_xl;
        }
    }
}
