@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);@charset "UTF-8";

.main {
  min-height: 100vh;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #333;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans JP", sans-serif;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  -webkit-appearance: none;
  border-radius: 0;
}

.l-footer {
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0.5rem;
  box-sizing: border-box;
  background: #f6f5f4;
}

.c-btn-flat-border {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  color: #1da1f2;
  border: solid 2px #1da1f2;
  border-radius: 3px;
  transition: 0.4s;
  margin: 15px;
  font-size: 20px;
}

.c-btn-flat-border:hover {
  background: #1da1f2;
  color: #fff;
}

.c-btn__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  background: #ea352d;
  border: solid 2px #ea352d;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
  height: 48px;
  margin-bottom: 30px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.c-btn__form--twitter {
  background: #1da1f2;
  border: solid 2px #1da1f2;
}

.c-btn__form--sold {
  background: #333;
  border: solid 2px #333;
  cursor: not-allowed;
}

@media screen and (max-width: 414px) {
  .c-btn__form {
    opacity: 1;
  }
}

.c-btn__form:hover {
  opacity: 1;
}

.c-btn__link {
  display: flex;
  justify-content: space-between;
}

.c-hero {
  background-image: url(/images/jasmin-sessler-5Wfttm2CjeI-unsplash.jpg?d19f907f8477d843f2f6c426208dd9bd);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-hero__title {
  margin-top: 50px;
  font-size: 32px;
  text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);
  color: #f6f5f4;
  padding: 10px;
}

.c-detail__title {
  padding: 5px;
  border: 2px solid #fff;
  background: #f6f5f4;
  text-align: center;
}

.c-detail__text {
  padding: 5px;
  border: 1px solid #fff;
  min-height: 50px;
  text-align: center;
}

.c-menu {
  /*閉じる用の薄黒カバー*/
  /*中身*/
}

.c-menu__drawer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-menu__mypageregist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}

.c-menu__unshown {
  display: none;
}

.c-menu__open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

.c-menu__open:hover {
  cursor: pointer;
}

.c-menu__open--line,
.c-menu__open--line:before,
.c-menu__open--line:after {
  position: absolute;
  height: 3px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #333;
  display: block;
  content: "";
  cursor: pointer;
}

.c-menu__open--line:before {
  bottom: -8px;
}

.c-menu__open--line:after {
  bottom: -16px;
}

.c-menu__close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.c-menu__content {
  overflow: auto;
  position: fixed;
  top: 52px;
  right: 0;
  z-index: 9999;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #fff;
  /*背景色*/
  transition: 0.2s ease-in-out;
  /*滑らかに表示*/
  transform: translateX(105%);
  /*左に隠しておく*/
}

@media screen and (max-width: 414px) {
  .c-menu__content {
    width: 100%;
    max-width: 500px;
  }
}

.c-menu__item {
  margin: 15px;
}

.c-menu__item--regist {
  width: 150px;
  height: 150px;
  background: #ea352d;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
}

.c-menu__item--mypageregist {
  width: 150px;
  height: 150px;
  background: #ea352d;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
}

@media screen and (max-width: 414px) {
  .c-menu__item--mypageregist {
    bottom: -50px;
    right: -50px;
  }
}

.c-menu__link {
  text-decoration: none;
  font-size: 16px;
}

.c-menu__link--regist {
  font-size: 24px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-menu__link--mypageregist {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .c-menu__link--mypageregist {
    position: absolute;
    transform: rotate(-45deg);
    right: 20px;
    bottom: 20px;
  }
}

/*チェックが入ったらもろもろ表示*/

.c-menu__input:checked ~ .c-menu__close {
  display: block;
  /*カバーを表示*/
  opacity: 0.5;
}

.c-menu__input:checked ~ .c-menu__content {
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

.c-form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 414px) {
  .c-form {
    margin-top: 0px;
  }
}

.c-form__group {
  margin: 30px;
}

.c-form__group--control {
  border: none;
  height: 48px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0px;
  box-sizing: border-box;
  background: #fff;
}

.c-form__group--textarea {
  margin: 5px 0px;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  box-sizing: border-box;
}

.c-form__group--img {
  width: 100%;
}

.c-form__group--photofilelabel {
  color: #fff;
  background-color: #1da1f2;
  padding: 10px;
  border: double 4px #fff;
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.c-form__group--check {
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.c-form__group--photofile {
  display: none;
}

.c-form__error--background {
  background: #ea352d;
  opacity: 0.7;
}

.c-form__error--text {
  color: #ea352d;
}

.c-card {
  background: #f6f5f4;
  width: 30%;
  padding: 20px 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 414px) {
  .c-card {
    width: 100%;
  }
}

.c-card__header {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.c-alert {
  width: 100%;
  z-index: 10000;
  position: absolute;
}

.c-alert__feedback {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.c-alert__success {
  border: 1px solid #44D37E;
  color: #44D37E;
  font-weight: bold;
}

.p-panel {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 414px) {
  .p-panel {
    width: 90%;
  }
}

.p-panel__msg {
  border: 2px solid #f6f5f4;
  width: 400px;
  min-height: 200px;
  margin: 50px auto;
}

@media screen and (max-width: 414px) {
  .p-panel__msg {
    width: 100%;
  }
}

.p-panel__msg--title {
  text-align: center;
  margin: 50px;
  font-size: 24px;
  border-bottom: 2px solid #f6f5f4;
}

.p-panel__background {
  background: #f6f5f4;
  padding: 50px 0;
}

.p-panel__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.p-panel__nav--link {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  color: #888888;
}

.p-panel__nav--link:hover {
  text-decoration: underline;
}

.p-panel__nav--top {
  display: flex;
  justify-content: center;
}

.p-panel__form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.p-panel__title {
  font-size: 24px;
}

.p-panel__searchtitle {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.p-panel__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.p-panel__body {
  width: 20%;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .p-panel__body {
    width: 33.333%;
    padding: 5px;
    height: 150px;
  }
}

.p-panel__sold {
  position: absolute;
  top: 0;
  background: #ea352d;
  color: #fff;
  z-index: 1;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0.8;
}

@media screen and (max-width: 414px) {
  .p-panel__sold {
    font-size: 16px;
  }
}

.p-panel__img {
  width: 100%;
  height: 80%;
  background: #fff;
  position: relative;
}

@media screen and (max-width: 414px) {
  .p-panel__img {
    height: 70%;
  }
}

.p-panel__img--image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.p-panel__img--text {
  padding: 5px;
  position: absolute;
  bottom: 0;
  background: rgba(33, 33, 33, 0.5);
  border-radius: 3px;
  color: #fff;
  z-index: 1;
  max-width: 100px;
  overflow: hidden;
}

@media screen and (max-width: 414px) {
  .p-panel__img--text {
    font-size: 12px;
    max-width: 75px;
  }
}

.p-panel__footer {
  padding: 10px;
  height: 20%;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .p-panel__footer {
    padding: 5px;
  }
}

.p-panel__footer--text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (max-width: 414px) {
  .p-panel__footer--text {
    font-size: 12px;
  }
}

.p-top__title {
  font-size: 24px;
  padding: 5px;
  text-decoration: none;
}

.p-top__sentence {
  text-align: center;
  height: 100px;
  padding: 20px;
  background: #f6f5f4;
}

.p-top__main {
  margin: auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

@media screen and (max-width: 414px) {
  .p-top__main {
    flex-direction: column;
  }
}

.p-top__container {
  width: 50%;
  height: 150px;
}

@media screen and (max-width: 414px) {
  .p-top__container {
    width: 100%;
  }
}

.p-top__container__right {
  border-right: #f6f5f4 solid 2px;
}

@media screen and (max-width: 414px) {
  .p-top__container__right {
    border-right: none;
    border-bottom: #f6f5f4 solid 2px;
    margin-bottom: 15px;
  }
}

.p-top__container__title {
  min-height: 60px;
  font-size: 24px;
}

.p-search__flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.p-search__title {
  text-align: center;
  font-size: 24px;
}

.p-search__group {
  width: 20%;
  margin: 10px;
}

@media screen and (max-width: 414px) {
  .p-search__group {
    width: 100%;
  }
}

.p-search__group__form {
  border: none;
  height: 48px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0px;
  box-sizing: border-box;
  background: #fff;
}

.p-search__group__sentence {
  display: flex;
  justify-content: flex-end;
}

.u-title__center {
  text-align: center;
  margin: 50px;
  font-size: 32px;
}

